html {
  font-family: garamond-premier-pro, serif;
}

.logo {
  width: 100%;
  color: #fff;
}

header,
footer {
  background-color: #cb4a4b;
}

a {
  text-decoration: none;
  color: #fff;
}

.oswald-header,
.oswald-h3 {
  font-family: oswald, sans-serif;
}

h3,
h2 {
  font-weight: lighter;
}

footer p {
  color: #fff;
}

.cards {
  background-color: #fff;
}

.card {
  border: 1px solid #cb4a4b;
}

.chop {
  max-height: 600px;
}

.btn {
  background-color: #cb4a4b;
}

.recipe-img {
  height: 60em;
  overflow: hidden;
}
